<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
</head>
<body>
  <h1>Here are your account details <%= user.username %> id: <%= user.id %>!</h1>
  <h2>You currently have $<%= user.money / 100 %></h2>
  <form action="/account/money?_method=PUT" method="POST">
    <label for="money">Amount</label>
    <input id="money" name="money" type="number" step = "0.01"/>
    <button type="submit">Change Account Balance</button>
  </form>
<a href="/">Back</a><br>
<a href="/log-out">LOG OUT</a><br>
</body>
</html>
