<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Closing Date</title>
</head>
<body>
  <h1>Add Closing Date</h1>
  <form action="/closingDate" method="POST">
    <label for="date">Date</label>
    <input id="date" name="date" type="date" required/>
    <button type="submit">Submit</button>
  </form>
    <a href="/">Quit</a>
</body>
</html>
