.usual{
    color: red;
    font-size: 100%;
}

.pay {
    color: green;
    font-size: 120%;
}

.closing {
    background-color: blue;
    border: 2px solid black;
    color: black;
    font-size: 150%;
    margin: 20px;
    padding: 20px;
}