<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add transaction</title>
</head>
<body>
  <h1>Add transaction</h1>
  <form action="/transaction" method="POST">
    <label for="name_">Label</label>
    <input id="name_" name="name_" type="text" required/>
    <label for="money">Amount</label>
    <input id="money" name="money" type="number" step = "0.01" required min = "0"/>
    <label for="date">Date</label>
    <input id="date" name="date" type="date" required/>
    <button type="submit">Submit</button>
  </form>
    <a href="/">Quit</a>
</body>
</html>
