<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add transaction</title>
</head>
<body>
  <h1>Add transaction</h1>
  <form action="/sign-up" method="POST">
    <label for="name_">Username</label>
    <input id="name_" name="name_" type="text" />
    <label for="money">Password</label>
    <input id="money" name="money" type="number" />
    <label for="date">Password</label>
    <input id="date" name="date" type="date" />
    <button type="submit">Submit</button>
  </form>
    <a href="/">Quit</a>
</body>
</html>
